:root{
    --color1:#ffffff;
    --color2:#383838;
    --color3:#4C4C6D;
    --color4:#1B9C85;
    --color5:#E8F6EF;
    --color6:#FFE194;
}

*,*::after,*::before{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

html,body{
    height:100vh;
    width:100vw;
    background: var(--color1);
    color:var(--color2);
    font-size: 16px;
}

button{
    padding:0.4rem 1.2rem;
    cursor: pointer;
    border-radius: 0.4rem;
    font-weight: bold;
}
button:focus{
    outline:none;
}

.btn-primary{
    color:var(--color1);
    background: var(--color4);
    border: none;
}
.btn-secondary{
    color:var(--color1);
    background: var(--color3);
    border: none;
}

.bold{
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

a,a:visited,a:active{
    color:var(--color1);
    text-decoration: none;
}
/* Animations */
@keyframes slideup{
    0%{
        transform:translateY(0%);
    }
    100%{
        transform:translateY(-100%);
    }
}
.SlideUp{
    animation: slideup 1s ease forwards;
}
@keyframes slideright{
    0%{
        transform:translateX(0%);
    }
    100%{
        transform:translateX(100%);
    }
}
.SlideRight{
    animation: slideright 1s ease forwards;
}
@keyframes slideleft{
    0%{
        transform:translateX(0%);
    }
    100%{
        transform:translateX(-100%);
    }
}
.SlideLeft{
    animation: slideleft 1s ease forwards;
}
.SlideLeftReverse{
    animation: slideleft 1s ease reverse forwards;
}
@keyframes slidedown{
    0%{
        transform:translateY(0%);
    }
    100%{
        transform:translateY(100%);
    }
}
.SlideDown{
    animation: slidedown 1s ease forwards;
}
/* scroll bar */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: var(--color5);
    border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb {
    background: var(--color3);
    width:0.5rem;
    border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color3);
}